<!-- HEADER -->
<div class="header-container">

	<div class="header-title-container">
		<div class="header-title">
			<div class="header-logo">
				<img class="potato" src="/assets/images/potato.png">
			</div>

			<div class="header-name">
				FEED TOM
			</div>
		</div>
	</div>

	<div class="header-text-container">
		<div class="header-text">
			When fooding decision is very hard and important
		</div>
	</div>

	<div class="header-config-container">
		<div class="header-config">
			<div *ngIf="tomCode && tomCode.length > 0">
				Room: {{ tomCode }}
			</div>
			<div>
				<button class="btn btn-gray" (click)="setDisplayPage('landing')">Update</button>
			</div>
		</div>
	</div>
</div>

<!-- BODY -->
<div *ngIf="state" class="body-container">
	<app-landing *ngIf="displayPage == 'landing' || isIdentitySet() == false"
								[userName]="userName"
								[tomCode]="tomCode">
	</app-landing>
	<app-main *ngIf="displayPage == 'main' && isIdentitySet() == true"
						[preferences]="preferences"
						[popularRestaurants]="popularRestaurants"
						[restaurants]="restaurants"
						[tomCode]="tomCode"
						[userName]="userName"
						[userCount]="userCount">
	</app-main>
</div>