<!-- HEADER -->
<div style="display: flex; width: 100vw; height: 7vh; background-color: black;">
	<div style="flex: 0 0 5vw;"></div>
	<div class="image-holder" style="flex: 5 0 0px; display: flex; align-items: center;">
		<div style="color: white; letter-spacing: .1rem; font-size: 1.4rem;" class="san-serif">
			FEED TOM ({{ userName }}) <button (click)="setDisplayPage('landing')">edit</button>
		</div>
	</div>
	<div style="flex: 3 0 0px; display: flex; justify-content: center; align-items: center;">
		<div style="color: white; letter-spacing: .1rem; font-size: 1rem;" class="san-serif">
			When fooding decision is very hard and important
		</div>
	</div>
</div>
<div *ngIf="state" style="height: 93vh; width: 100vw;">
	<app-landing *ngIf="displayPage == 'landing' || isIdentitySet() == false"
								[userName]="userName"
								[tomCode]="tomCode">
	</app-landing>
	<app-main *ngIf="displayPage == 'main' && isIdentitySet() == true"
						[preferences]="preferences"
						[restaurants]="restaurants"
						[tomCode]="tomCode"
						[userName]="userName">
	</app-main>
</div>