.header-container {
	display: flex;
	justify-content: space-around;
	width: 100vw;
	height: 14vh;
	background-color: #4b4c4d;
}

.header-title-container {
	justify-content: flex-start;
	flex: 3 0 0px;
	height: 100%;
	display: flex;
	align-items: center;
}

.header-text-container {
	align-items: center;
	display: flex;
	flex: 3 0 0px;
	color: white;
	letter-spacing: .1rem;
	font-size: 1rem;
	font-weight: 400;
}

.header-config-container {
	align-items: center;
	display: flex;
	justify-content: flex-end;
	flex: 1 0 0px;
	color: white;
}

.header-config {
	padding-right: 5%;
}

.header-title {
	align-items: center;
	display: flex;
	height: 70%;
	width: 100%;
}

.header-logo {
	padding-left: 5%;
	height: 100%;
	display: flex;
	align-items: center;
}

.potato {
	max-width:100%;
	max-height:50%;
}

.header-name {
	width: 100%;
	padding-left: 2%;
	color: white;
	letter-spacing: .1rem;
	font-size: 1.4rem;
	font-weight: 900;
}




/* body */

.body-container {
	height: 86vh;
	width: 100vw;
}

/* Mobile tweaks */
@media all and (device-width: 375px) and (device-height: 667px) {
	/* Should be 14% of 667 to match 14vh from desktop */

	.header-container {
		height: 97px;
		width: 375px;
	}

	.body-container {
		height: 570px;
		width: 375px;
	}

	.header-text {
		display: none;
	}
}

@media all and (device-width: 414px) and (device-height: 736px) {
	/* Should be 14% of 736 to match 14vh from desktop */

	.header-container {
		height: 100px;
		width: 414px;
	}

	.body-container {
		height: 636px;
		width: 414px;
	}

	.header-text {
		display: none;
	}
}