.san-serif {
	font-family: 'Open Sans Condensed', sans-serif;
}

.slab-serif {
	font-family: 'Josefin Slab', serif;
}

.preference-square {
	flex: 0 0 20vh;
	border: 1px solid black;
	height: 20vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.restaurant-square {
	flex: 1 0 15%;
	border: 1px solid black;
	height: 20vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.restaurant-square.liked {
	background-image: url(/assets/images/preference.png);
	background-size: 100% 100%;
	height: 100%;
}