<!-- MAIN CONTENT -->
<div class="san-serif">
	<div style="height: 100%; display: flex; width: 100vw;">

		<!-- LEFT COLUMN -->
		<div style="flex: 0 0 15%; display: flex; flex-direction: column; background-color: rgba(255,255,255,.9)">
			<div>
				<button (click)="purgePreferences()">
					Purge preferences
				</button>
			</div>
			<!-- LOOP over preferences -->
			<div *ngFor="let restaurant of popularRestaurants" class="preference-square">
				<div>
					{{ restaurant.name }}
				</div>
				<div class="slab-serif" style="font-size: 1rem; color: red; font-weight: 800;">
					{{ restaurant.numberOfPreferences }}
				</div>
			</div>
		</div>

		<!-- RIGHT COLUMN -->
		<div style="overflow-y: scroll; align-content: flex-start; display: flex; flex-direction: row; flex-wrap: wrap; flex: 0 0 85%; background-color: rgba(255,255,255,.9)">

			<!-- LOOP over restaurants -->
			<div *ngFor="let restaurant of restaurants"
						(click)="togglePreference(restaurant)"
						[class.liked-by-me]="restaurant.isUserPreference"
						[class.liked-by-others]="restaurant.isOthersPreference && restaurant.isUserPreference == false"
						class="restaurant-square">
				<div style="font-size: 1rem;">
					{{ restaurant.name }}
				</div>
			</div>
		</div>

	</div>
</div>