<!-- MAIN CONTENT -->
<div class="main-container">

	<!-- LEFT COLUMN -->
	<div class="popular-column">
		<div class="popular-header">
			<div>
				Participants: {{ userCount }}
			</div>
			<button class="btn btn-gray" (click)="purgePreferences()">
				START OVER
			</button>
		</div>

		<!-- LOOP over preferences -->
		<div *ngFor="let restaurant of popularRestaurants" class="popular-square">
			<div>
				{{ restaurant.name }}
			</div>
			<div style="font-size: 1rem;">
				{{ restaurant.numberOfPreferences }}
			</div>
		</div>
	</div>

	<!-- RIGHT COLUMN -->
	<div class="restaurants-column">

		<!-- LOOP over restaurants -->
		<div *ngFor="let restaurant of restaurants"
					(click)="togglePreference(restaurant)"
					[class.liked-by-me]="restaurant.isUserPreference"
					[class.liked-by-others]="restaurant.isOthersPreference && restaurant.isUserPreference == false"
					class="restaurant-square">
			<div style="font-size: 1rem;">
				{{ restaurant.name }}
			</div>
		</div>
		<div class="restaurant-square">
			<input [(ngModel)]="newRestaurantName" placeholder="New Restaurant">
			<button (click)="addRestaurant()" class="btn btn-green">Add</button>
		</div>
	</div>

</div>