.san-serif {
	font-family: 'Open Sans Condensed', sans-serif;
}

.slab-serif {
	font-family: 'Josefin Slab', serif;
}

.preference-square {
	flex: 0 0 20vh;
	border: 1px solid black;
	height: 20vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.restaurant-square {
	flex: 1 0 15%;
	border: 1px solid black;
	height: 20vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.restaurant-square.liked-by-me {
	color: white;
	background-image: url(/assets/images/preference.png);
	background-size: cover;
	background-position: 50% 50%;
}

.restaurant-square.liked-by-others {
	background-image: url(/assets/images/preference-star.png);
	background-size: cover;
	background-position: 50% 50%;
}