/* You can add global styles to this file, and also import other style files */
body {
	margin: 0px;
	font-family: 'Nunito', sans-serif;
	font-weight: bold;
	display: fixed;
}

.gray {
	background-color: #4b4c4d;
}

.light-gray {
	background-color: #f2f3f4;
}

.red {
	background-color: #f0523e;
}

.light-red {
	background-color: #fbd0bf;
}

/* bootstrap copied styles */
.btn-gray {
	color: #fff;
	background-color: #5d5c5c;
	border-color: gray;
}

.btn-gray:hover {
	background-color: gray;
}

.btn-green:hover {
	background-color: #48ab48;
}

.btn-green {
	color: #fff;
	background-color: #5cb85c;
	border-color: gray;
}

.btn {
	display: inline-block;
	font-weight: 400;
	line-height: 1;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid transparent;
	padding: .5rem .5rem;
	font-size: 1rem;
	border-radius: .25rem;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}